.subrayado{
    display: flex;
    align-items: center;
    gap: 6px;
    text-align: center;

}

.subrayado span{
   
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid var(--text-color2);
}
.subrayado hr{
    border: 1px solid var(--text-color2);
    width: 5rem;
}